footer {
    background: black;
    padding: 30px 20px;
    font-family: Arial, sans-serif;
    color: white;
    border-top: 1px solid #ddd;
}

.footer-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    max-width: 1200px;
    margin: 0 auto;
}

.footer-col {
    flex: 1 1 0;
}


.footer-col:nth-child(1) {
    flex: 4;
}


.footer-col:nth-child(2) {
    flex: 2;
}


.footer-col:nth-child(3) {
    flex: 2;
}

.footer-col:nth-child(4) {
    flex: 2;
}

.footer-col {
    flex: 1;
    min-width: 220px;
    margin-bottom: 20px;
    text-align: left;
    /* căn trái */
}

.footer-col h4 {
    font-weight: bold;
    border-bottom: 2px solid #000;
    display: inline-block;
    padding-bottom: 5px;
    margin-bottom: 10px;
}

.footer-col ul {
    list-style: none;
    padding: 0;
    margin: 0;
    line-height: 1.6;
}

.footer-col ul li {
    margin-bottom: 5px;
}

.footer-col p {
    font-size: 14px;
    margin-top: 5px;
}

.social-icons img,
.logo-icons img,
.payment-icons img {
    margin-right: 10px;
    margin-top: 5px;
    vertical-align: middle;
}

.payment-icons img {
    width: 40px;
    margin-right: 5px;
}

@media screen and (max-width: 992px) {
    .footer-container {
        flex-direction: column;
        align-items: flex-start;
    }

    .footer-col {
        width: 100%;
    }
}
#catalog-list li {
  cursor: pointer;
  padding: 4px 0;
}
#catalog-list li:hover {
  color: #ff3366;
}
#catalog-list li.active {
  font-weight: bold;
  color: #ff3366;
}
