#GioHang{
    width: 100%;
    min-height: 800px;
    background: white;
    margin-top: 20px;
}
#content_center_menu_shop{
    display: flex;
    justify-content: center;
}
.Menu_Center{
    text-decoration: none;
    font-weight: none;
    font-size: 20px;
}

.Menu_Center .tienhanhthanhtoanBtn{
    text-decoration: none;
    font-weight: none;
    font-size: 20px;
    color: black;
}
.active_menu_center{
    color: black;
    font-weight: bold;
    font-size: 20px;
}
#content_center_menu_shop button:hover{
    color: black;
}
#element_center_shop{
    display: flex;
    
}

#element_center_left{
    width: 65%;
    border-right: 1px solid #EBEBEB;
}
.element_center_left{
    display: flex;
    height:20px;
    margin-left: 20px;
}
.element_sp{
    width: 75%;
    font-weight: bold;
    border-bottom: 3px solid #EBEBEB;
}
.element_cost{
    width: 10%;
    font-weight: bold;
    border-bottom: 3px solid #EBEBEB;
}
.element_num{
    width: 20%;
    font-weight: bold;
    border-bottom: 3px solid #EBEBEB;
    margin-right: 20px;
}
.element_center_right{
    width: 35%;
    
}
.element_sum{
    border-bottom: 3px solid #EBEBEB;
    width: 90%;
    font-weight: bold;
    margin-left: 20px;
    margin-right: 20px;
}
.Succes{
    pointer-events: none;
}

.continute{
    margin-left: 20px;
    width: 220px;
    border: 3px darkred solid;
    height: 25px;
    border-radius: 20px;
}
.back_menu{
    text-decoration: none;
    color: darkred;
    margin-left: 20px;
    
}
#element_tempcost{
    border-bottom: 1px solid #EBEBEB;
    margin: 20px;
}
#element_ship{
    height: 13%;
    border-bottom: 1px solid #EBEBEB;
    margin: 20px;
    display: flex   ;
}
#element_sum div:nth-child(1){
    width: 10%;
}
#element_sum{
    margin: 20px;
    font-weight: bold;
    width: 90%;
    display: flex;
}
#element_cart button{
    display: block;
    box-sizing: border-box;
    height: 40px;
    color: white;
}
#element_cart{
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    background: black;
    margin: 20px;
    text-align: center;
    align-items: center;
    height: 40px;
    border-radius: 20px;
    line-height: 40px;
}

.end_menu_center{
    display: flex;
    width: 35%;
    gap:5px;
    margin: 20px;
}
.end_menu_center img{
    width: 55px;
    height: 40px;
}
#font-color-red{
    color:red
}
.ship{
    width: 65%;
}
#display-flex{
    display: flex;
}
button{
    text-decoration: none;
    color: black;
}
.cart-item-modal{
    width: 100%;
}
#GioHang .danhsach{
    width: 96%;
    min-height: 600px;
    margin-left: 20px;
    flex-wrap: wrap;
    margin-top: 20px;
}
.tienhanhthanhtoan .giohang{
    background-color: lightseagreen;
    width: 100%;
    height: 40px;
    border-radius: 50px;
    text-align: center;
    line-height: 40px;
    margin-top: 10px;   
}

.tienhanhthanhtoanBtn .giohang{
    background: none;
    border: none;
    color: white;
    font-size: 16px;
    cursor: pointer;
    width: 100%;
}
